body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}
 

tr {
    color: white;
    border-bottom: 1px solid rgb(77, 76, 76);
}

td,
th {
    text-align: left;
    padding: 8px;
}

.table_header {
    background-color: #18191b;
}

#select_option {
    background-color: #18191b;
    color: white;
    border: none;
    display: block;
    margin:0 auto;
}
.all_buttons
 {
    padding: 5px;
    border-radius:5px;
    text-align: end;
    font-weight: 600;
    margin:3px;
 }
 .sub_text
 {
    margin-top: 0px;
    margin-left: 5px;
      
 }
 .name_subInfo
 {
    display: flex;
    gap: .5rem;
 }