body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
main{
    width:50%;
    margin: 0 auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:100%;
    position: relative;
}


tr {
    color: white;
    border-bottom: 1px solid rgb(77, 76, 76);
    
     
}

td,
th {
    text-align: left;
    padding: 5px !important;
    
}

.table_header {
    background-color: #18191b;
}

#select_option {
    background-color: #18191b;
    color: white;
    border: none;
    display: block;
    margin: 0 auto;
    font-weight: 600;
}

.all_buttons {
    padding: 5px;
    border-radius: 5px;
    text-align: end;
    font-weight: 600;
    margin:3px;
     width:60%;
}

.sub_text {
    margin-top: 0px;
    margin-left: 5px;

}

.name_subInfo {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap: .1rem;
}

.circle_btn {
    background: rgb(77, 133, 207);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top:40rem;
    left: 68rem;
}

/* ===========MEDIA QUERIES (md)========= */
@media screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
   main
   {
    width:fit-content;
   }
   .circle_btn
 {
    top:30rem;
    left:20rem;
 }
 }
 
 /* ===========MEDIA QUERIES (sm)========= */
 @media screen and (max-width:600px) {
main
{
   width:fit-content;
}
 
.all_buttons
{
    padding:3px;
}
.circle_btn
 {
    top:30rem;
    left:20rem;
 }
 }
 
